<div class="container">
    <div class="row ">
        <div class="col-md-5">
            <h3>Contact</h3>
            <hr>
            <form action="/contact" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Your email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject:</label>
                    <input type="text" class="form-control" id="subject" name="subject"
                        value="Me interesa tu publicación en RoomHolders">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Messaje</label>
                    <textarea class="form-control" id="message" name="message"
                        rows="6">Hola mi nombre es... y estoy interesad@ en tu publicación</textarea>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Destination email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div>
                <button type="submit" class="btn btn-dark">Send email</button>
            </form>
        </div>
    </div>
</div>