body {
  font-family: sans-serif;
}

#map {
  height: 600px;
  background-color: red;
}

.navbar form button {
  background: transparent;
  border: none;
}

#mapDetails {
  height: 400px;
  width: 600px;
  background-color: red;
}