body {
  font-family: sans-serif;
}

#map {
  height: 600px;
  background-color: red;
}

.navbar form button {
  background: transparent;
  border: none;
}

#mapDetails {
  height: 400px;
  width: 600px;
  margin-left: 20px;
  background-color: red;

}

.card-body {
  width: 400px;
  border: 1px solid grey;
  padding: 5px;
  font-size: .9em;
  background-color: rgb(221, 220, 220);
  text-align: center;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}