body {
  font-family: sans-serif;
  background-color: rgb(172, 171, 171);
}

#map {
  height: 600px;
}

.fondo {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  width: 800px;
  height: auto;
}

body {
  margin-top: 80px;
}

.navbar form button {
  background: transparent;
  border: none;

}

#mapDetails {
  height: 400px;
  width: 600px;
  margin-left: 20px;
}

.card-body {
  width: 400px;
  border: none;
  padding: 5px;
  font-size: .9em;
  background-color: rgb(221, 220, 220);
  text-align: center;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}